@model IEnumerable<Crud.Models.Livro>
@{
    ViewData["Title"] = "Lista de Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (TempData["Mensagem"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role= "alert">
                    @TempData["Mensagem"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de livros</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Livros">Adicionar novo Livro</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count()> 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Id)</td>
                        <td>@Html.DisplayNameFor(m => m.Titulo)</td>
                        <td>@Html.DisplayNameFor(m => m.Descricao)</td>
                        <td>@Html.DisplayNameFor(m => m.FechaLancamento)</td>
                        <td>@Html.DisplayNameFor(m => m.Autor)</td>
                        <td>@Html.DisplayNameFor(m => m.Preco)</td>
                        <td>Acoes</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Titulo</td>
                            <td>@item.Descricao</td>
                            <td>@item.FechaLancamento</td>
                            <td>@item.Autor</td>
                            <td>@item.Preco</td>
                            <td>
                                <a asp-controller="Livros" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                <a asp-controller="Livros" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">Deletar</a>
                            </td>

                        </tr>
                        
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Não existe Registros</p>
        }

    </div>

</div>